<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>206792103673-0dcu9890j3erh4k0ha4f8h8hh814vnn9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.206792103673-0dcu9890j3erh4k0ha4f8h8hh814vnn9</string>
	<key>API_KEY</key>
	<string>AIzaSyA9jPw9C15Uj1Pw5eqCa_RlVFThRVipUWI</string>
	<key>GCM_SENDER_ID</key>
	<string>206792103673</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>choi.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-1cbb8</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-1cbb8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:206792103673:ios:e3e8f46cbc967d21653428</string>
</dict>
</plist>